* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(../images/wave.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
}

.main {
  border-radius: 5px;
  width: 400px;
}

.main__title {
  text-align: center;
  padding-bottom: 15px;
  color: #5b527c;
  position: relative;
  font-size: 30px;
}

.main__title::after {
  content: "";
  position: absolute;
  left: 25%;
  width: 50%;
  height: 5px;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 213, 0, 1) 0%,
    rgba(112, 14, 144, 1) 79%
  );
}

.form {
  padding: 20px;
}

.form__label {
  display: block;
  margin: 20px 0 5px 0;
  font-size: 16px;
  color: #de00ff;
}

.form__input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  outline-color: #5b527c;
  background-color: rgba(224, 224, 224, 0.925);
}

.form__button {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 35px;
  padding: 12px;
  width: 40%;
  background: linear-gradient(
    90deg,
    rgba(222, 0, 255, 1) 0%,
    rgba(115, 0, 255, 1) 100%
  );
  border: none;
  border-radius: 25px;
  color: #f0f0f0;
}

.form__button:disabled {
  opacity: 0.5;
}

.error {
  color: red;
}

.js-username {
  background-image: url(../images/user-icon.png);
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 30px;
}

.js-password,
.js-confirmPassword {
  background-image: url(../images/password-icon.png);
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 30px;
}
